
# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile

# Unignore all dirs
!*/

# Mac Caches
*_Store

# MPI Generator
*.dSYM/

# SSH Key
deploy.pem
Asn2/deploy.pem

# Linux Gedit Caches
*.swp
*~